body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light_slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy_blue_modal: #2e2f42;
  --grey: #2e2f42;
  --dairy: #fcfcfc;
  --white: #ffffff;
  --logo_font: "Raleway";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  flex-grow: 1;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/*---------------HEADER--------------------*/

.header {
  padding: 24px 0;
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white);
}

.header-container {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.header-logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.header-logo-part {
  color: var(--navyblue);
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-menu-list {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-right: 332px;
}

.header-menu-item {
}

.header-menu-link {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--ocean);
  text-decoration-line: underline;
}

.adress-header-section {
  font-style: normal;
}

.header-adress-list {
  display: flex;
  gap: 40px;
}

.header-menu-adress {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-adress:hover,
.header-menu-adress:focus {
  color: var(--ocean);
}

/*--------------section-1/hero--------------*/

.hero {
  padding: 188px 0;
  background-color: var(--navyblue);
}

.hero-logo {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.hero-btn {
  color: var(--white);
  font-family: inherit;
  display: block;
  background-color: var(--iris);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

/*--------------section-2-skills--------------*/

.skills {
  padding: 120px 0px;
}
.skills-list {
  display: flex;
  gap: 24px;
}
.skills-item {
}
.skills-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.skills-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/*--------------section-3-doing--------------*/

.doing {
  padding-bottom: 120px;
}

.doing-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.doing-list {
  display: flex;
  gap: 24px;
}
.doing-item {
}

/*--------------section-4-team--------------*/

.team {
  padding: 120px 0px;
  background-color: var(--cloud);
}
.team-title {
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.img-team {
}

.container-team {
  padding: 32px 0;
}

.team-name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/*--------------footer--------------*/

.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}
.footer-logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-part {
  color: var(--cloud);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/*!--------------PORTFOLIO--------------*/

/*!---------------HEADER-as-index-------*/

/*!---------------button-list-------*/

.servicies {
  padding: 96px 0 120px 0;
}

.section-button-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.button-all {
  color: var(--iris);
  background-color: var(--cloud);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
}

.button-all:hover,
.button-all:focus,
.button-all:active {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
}

/*!---------------section-servicies-------*/

.servicies-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.servicies-item {
  width: calc((100% - 48px) / 3);
}

.container-servicies {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.servicies-item-link {
}
.link {
}
.servicies-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.servicies-type {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*!---------------FOOTER-as-index-------*/
